<section class="form-section">

    <header>
        <a routerLink="/home" class="back-button">
            <i class="bi bi-arrow-left"></i>
        </a>
    
        <h1>{{ headerTitle }}</h1>
    </header>
    
    <form (ngSubmit)="submit()" [formGroup]="propertyForm" #formDir="ngForm">
        <div class="form-group">
            <input [ngClass]="{'invalid': (title?.invalid && formDir.submitted), 'valid': !title?.invalid && title?.value.length > 1 }" type="text" id="title"
                placeholder="Digite seu nome" formControlName="title" required>
            <label for="title">Título</label>
            <span *ngIf="title!.errors?.['required'] && formDir.submitted">
                Título é obrigatório
            </span>
        </div>

        <div class="form-group">
            <input maxlength="11" 
                [ngClass]="{
                    'invalid': (register?.invalid && formDir.submitted) || toString(register!.value).length > 1 && toString(register!.value).length < 11, 'valid': toString(register!.value).length === 11 }" 
                type="number" 
                id="register"
                placeholder="Digite seu register" 
                formControlName="register" 
                required>
            <label for="register">Número de registro</label>
            <span *ngIf="register!.errors?.['required'] && formDir.submitted">
                Registro é obrigatório
            </span>
            <span *ngIf="toString(register!.value).length > 1 && toString(register!.value).length < 11">
                O registro precisa ter 11 caracteres
            </span>
            <span *ngIf="toString(register!.value).length > 11">
                Escreva um registro válido
            </span>
        </div>

        <!-- preço de venda -->

        <div class="form-group currency">
            <input maxlength="11" [ngClass]="{'invalid': (salePrice?.invalid && formDir.submitted)}" type="number" id="salePrice"
                placeholder="Digite o preço de venda" formControlName="salePrice" required>
            <label for="salePrice">Preço de venda</label>

            <span *ngIf="salePrice!.errors?.['required'] && formDir.submitted">
                Preço de venda é obrigatório
            </span>
        </div>

        <!-- preço de compra -->

        <div class="form-group currency">
            <input maxlength="11" [ngClass]="{'invalid': (purchasePrice?.invalid && formDir.submitted)}" type="number" id="purchasePrice"
                placeholder="Digite o preço de compra" formControlName="purchasePrice" required>
            <label for="purchasePrice">Preço de compra</label>

            <span *ngIf="purchasePrice!.errors?.['required'] && formDir.submitted">
                Preço de compra é obrigatório
            </span>
        </div>

        <!-- status -->

        <div class="form-group">
            <select name="status" id="status" (change)="onSelectedStatus($event)">
                <option value="1">Estoque</option>
                <option value="2">Vendido</option>
            </select>
        </div>

        <!-- imagens -->

        <div class="form-group">
            <input 
                (change)="onFileSelected($event)"
                type="file" 
                multiple
                id="images"
                placeholder="Digite sua senha"
                accept="image/png, image/gif, image/jpeg"
                required>
            <label id="imagesLabel" for="images">
                <i class="bi bi-images"></i>
                Escolha as imagens
            </label>
            <span class="selected-files-span" *ngFor="let selectedImage of selectedImages">
                {{ selectedImage }} |
            </span>
        </div>

        <input type="submit" value="{{buttonText}}">

    </form>
</section>

