<app-dialog></app-dialog>
<main>
  <header>
    <div (click)="openMenu()" class="button-container">
      <button class="menu-button"></button>
    </div>
    <div class="logout-container">
      <button (click)="logout()" class="logout-button">
        <i class="bi bi-power"></i>
      </button>
    </div>
  </header>
  <nav *ngIf="visible" class="{{menuService.class}}">
    <div class="button-container">
      <button (click)="closeMenu()">
        <i class="bi bi-x"></i>
      </button>
    </div>
  
    <div class="actions-list">
      <ul>
        <li (click)="closeMenu()" >
          <a routerLink="home">
            <i class="bi bi-door-open-fill"></i>
            Início
          </a>
        </li>
        <li (click)="closeMenu()" >

          <!-- Aqui é passado um 'state' que pode ser acessado com 'this.router.getCurrentNavigation()' 
          dentro do componente que está rota estar direcionando; -->
          <a [state]="{data: 'myState'}" routerLink="dashboard">
            <i class="bi bi-kanban-fill"></i>
            Dashboard
          </a>
        </li>
        <li (click)="closeMenu()" >
          <a routerLink="user">
            <i class="bi bi-person-fill-gear"></i>
            Editar usuário
          </a>
        </li>
        <li (click)="closeMenu()" >
          <a routerLink="property">
            <i class="bi bi-house-add-fill"></i>
            Cadastrar Imóvel
          </a>
        </li>
      </ul>
    </div>
  </nav>
  
  <section>
    <router-outlet></router-outlet>
  </section>

</main>