.dialog-container {
    display: flex;

    align-items: center;
    justify-content: center;

    border-radius: 8px;

    position: absolute;

    top: 20px;
    right: 40px;

    transform: translateX(120%);
    opacity: 0;

    z-index: 5;

    .icon-type {
        margin-left: 30px;
        margin-right: 20px;

        justify-content: flex-start;
    }

    .content {
        flex-grow: 1;

        h1 {
            margin-bottom: 10px;
        }

        p {
            font-size: 0.9rem;
        }

        margin-right: 10px;
    }

    &.error, &.success {
        h1, p, i {
            color: #FFF;
        }

        h1 {
            font-size: medium;
        }
        
        i {
            font-size: 2rem;
        }

        border: 2px solid transparent;
        background-color: transparent;

        border: 2px solid #ff3636;
        background-color: #ff5050c9;

        max-width: 300px;
        width: 100%;
        max-height: 120px;
        height: 100%;
    }

    &.error {
        border-color: #ff3636;
        background-color: #ff5050c9;
    }

    &.success {
        border-color: #58ff36;
        background-color: #34e61cc9;
    }

    &.show {
        animation: showDialog .3s forwards;
    }

    &.hide {
        animation: hideDialog .3s forwards;
    }
};

@keyframes showDialog {

    0% {
        transform: translateX(120%);
        opacity: 0;
    }

    50% {
        opacity: 0.1;
    }


    100% {
        transform: translateX(0%);
        opacity: 1;
    }
}

@keyframes hideDialog {

    0% {
        transform: translateX(0%);
        opacity: 1;
    }

    50% {
        opacity: 0.1;
    }

    100% {
        opacity: 0;
        transform: translateX(120%);
    }
}