.dialog-container {
    display: flex;

    align-items: center;
    justify-content: center;

    border-radius: 8px;

    position: absolute;

    top: 20px;
    right: 40px;

    transform: translateX(0%);


    &.error, &.success {
        h1, p,i {
            color: #FFF;
        }

        h1 {
            font-size: medium;
        }
        
        i {
            font-size: 2rem;
            top: 50%;
            left: 20px;
            transform: translate(0%, -50%);
            position: absolute;
        }

        border: 2px solid transparent;
        background-color: transparent;

        border: 2px solid #ff3636;
        background-color: #ff5050c9;

        max-width: 300px;
        width: 100%;
        max-height: 120px;
        height: 100%;
    }

    &.error {
        border-color: #ff3636;
        background-color: #ff5050c9;
    }

    &.success {
        border-color: #58ff36;
        background-color: #34e61cc9;
    }

    &.show {
        animation: show .3s forwards;
    }

    &.hide {
        animation: hide .3s forwards;
    }
};

@keyframes show {

    0% {
        transform: translateX(120%);
    }


    100% {
        transform: translateX(0%);
    }
}

@keyframes hide {

    0% {
        transform: translateX(120%);
    }

    100% {
        transform: translateX(-120%)
    }
}