<section class="dashboard-section">
  <h1>Dashboard</h1>

  <div class="charts-container">
    <p-chart *ngIf="properties.length" type="doughnut" [data]="data" [options]="chartOptions" [style]="{'max-width': '400px', 'width': '100%'}"></p-chart>
    <p *ngIf="!properties.length" >Não há imóveis vendidos ou em estoque.</p>
  </div>

  <div class="dashboard-container">
    <div class="card">
      <h3>Total em estoque</h3>
      <p>{{ amountStock }}</p>
    </div>
    <div class="card">
      <h3>Total vendidos</h3>
      <p>{{ amountSold }}</p>
    </div>
    <div class="card">
      <h3>Lucro</h3>
      <p>{{ totalProfit | currency:'BRL'}}</p>
    </div>

  </div>

  <div class="table-container">
    <p-table responsiveLayout="scroll" [value]="properties" [tableStyle]="{'width': '100%', 'overflow': 'auto'}">
        <ng-template pTemplate="header" let-columns>
            <tr>
              <th pSortableColumn="title">Título <p-sortIcon field="code"></p-sortIcon></th>
              <th>Prévia</th>
              <th pSortableColumn="salePrice">Preço de venda <p-sortIcon field="code"></p-sortIcon></th>
              <th pSortableColumn="purchasePrice">Preço de compra <p-sortIcon field="code"></p-sortIcon></th>
              <th pSortableColumn="propertyProfit">Lucro <p-sortIcon field="code"></p-sortIcon></th>
              <th pSortableColumn="propertyProfitPercent">Percentual <p-sortIcon field="code"></p-sortIcon></th>
              <th pSortableColumn="propertyStatusId">Status <p-sortIcon field="code"></p-sortIcon></th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-property let-columns="columns">
            <tr>
              <td>{{property.title}}</td>
              <td class="table-data-image" ><img src="{{environment.api_url}}/uploads/properties/{{property.PropertyImage[0].name}}" [alt]="property.name" width="100" class="shadow-4" /></td>
              <td>{{property.salePrice | currency:'BRL'}}</td>
              <td>{{property.purchasePrice | currency: 'BRL'}}</td>
              <td>{{property.propertyProfit | currency: 'BRL'}}</td>
              <td>{{ property.propertyProfitPercent | number:'1.2-2'}}%</td>
              <td>{{property.propertyStatusId == 1 ? "Estoque" : "Vendido"}}</td>
            </tr>
        </ng-template>
    </p-table>
  </div>


</section>