/* You can add global styles to this file, and also import other style files */
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    font-family: sans-serif;
    overflow-x: hidden;
}

form {
    display: flex;
    flex-direction: column;
    justify-content: center;

    padding: 20px;

    max-width: 450px;
    width: 100%;

    height: 100%;

    h1 {
        font-size: 1.8rem;
        color: #4c4c4c;
        margin-bottom: 20px;
    }

    .form-group {
        position: relative;

        margin: 14px 0;
        border-radius: 6px;

        label {
            position: absolute;
    
            top: -9px;
            left: 6px;
    
            font-size: .75rem;
            color: #4c4c4c;
            background-color: #FFF;
    
            transition: all 0.2s ease-in-out;

            z-index: 2;
        }
    
        input {
            padding-left: 10px;
            border: 1px solid #ccc;
            outline: none;
            width: 100%;
            height: 30px;
            border-radius: 6px;
    
            transition: all 0.2s ease-in-out;
        }

        &.currency {

            margin-top: 20px;

            input {
                padding-left: 30px;
            }

            label {
                top: -15px;
            }
        }
    
        input:focus {
            border-color: #006aff;
            + label {
                color: #006aff;
            }
        }

        select {
            padding-left: 10px;
            border: 1px solid #ccc;
            outline: none;
            width: 100%;
            height: 30px;
            border-radius: 6px;
    
            transition: all 0.2s ease-in-out;
        }
    
        select:focus {
            border-color: #006aff;
        }

        input[type="file"]#images {
            display: none;
        }

        #imagesLabel {
            position: static;
            
            display: flex;
            justify-content: center;
            align-items: center;

            gap: 10px;

            border-radius: 6px;
            border: 1px solid #006aff;
            color: #006aff;

            height: 40px;

            i {
                font-size: 1.2rem;
            }
        }

    }

    a {
        align-self: flex-end;
        font-weight: 600;
        text-decoration: none;
        color: #006aff;
    }

    a::after {
        content: '';
        display: block;
        width: 0%;
        height: 2px;
        background-color: #006aff;

        transition: all 0.2s ease-in-out;;
    }

    a:hover::after {
        width: 100%;                
    }

    input[type="submit"], button[type="submit"] {

        display: flex;
        justify-content: center;
        align-items: center;

        margin: 15px 0;
        color: #FFF;
        border-radius: 6px;
        height: 40px;
        background-color: #006aff;
        width: 100%;

        border: none;

        cursor: pointer;

        transition: all 0.1s ease-in-out;
    }

    input[type="submit"]:hover, button[type="submit"]:hover {

        background-color: #3187ff;
        box-shadow: 0 0 4px #006aff;
    }
  }